<p-table #dataView [value]="listagemCadastroPaciente.pacientes" [columns]="colunasTabela" [responsive]="true" 
    [rows]="8" [paginator]="true" class="text-center">

    <ng-template pTemplate="caption">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <input type="text" pInputText placeholder="Pesquisa" class="pesquisa" [(ngModel)]="inputPesquisa"
                    (input)="dataView.filterGlobal($event.target.value, 'contains')">
                <i class="fas fa-search" style="font-size: 1.18em;"></i>
            </div>
    
            <div class="col-12 col-sm-6 col-md-8 text-right">
                <app-cadastro-paciente *ngIf="enviarEtniasComponenteCadastroPaciente" 
                    [etnias]="listagemCadastroPaciente.etniasPaciente" (pacienteSalvo)="atualizarTabelaPacientes($event)">
                </app-cadastro-paciente>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-colunas>
        <tr>
            <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.style" class="text-center">
                {{ coluna.header }}
                <p-sortIcon *ngIf="coluna.header !== 'Ações' && coluna.header !== 'Telefone'" [field]="coluna.field" 
                    ariaLabel="active to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-paciente>
        <tr>
            <td *ngFor="let coluna of colunasTabela" class="text-center">
                <span class="ui-column-title text-left"></span>
                {{ paciente[coluna.field] }}

                <span *ngIf="coluna.header === 'Ações'">
                    <button class="btn btn-primary px-3" pTooltip="Informações" tooltipPosition="bottom"
                        (click)="armazenarPacienteSelecionadoParaDialogInformacoes(paciente)">
                        <i class="fas fa-info"></i>
                    </button>

                    <button class="btn btn-secondary mx-2" pTooltip="Históricos" tooltipPosition="bottom"
                        (click)="redirecionarParaPaginaHistoricosDoPaciente(paciente)">
                        <i class="far fa-address-card"></i>
                    </button>

                    <app-edicao-paciente [paciente]="paciente" (pacienteEditado)="atualizarTabelaPacientes($event)"></app-edicao-paciente>

                    <button class="btn btn-danger ml-2" pTooltip="Excluir" tooltipPosition="bottom"
                        (click)="armazenarPacienteSelecionadoParaDialogExclusao(paciente)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" class="text-center" let-pacientes>
        <tr>
            <td [attr.colspan]="pacientes.length" class="text-center">
                <span *ngIf="!processandoOperacao">
                    {{ inputPesquisa ? 'Nenhum paciente corresponde à pesquisa!' : 'Nenhum paciente encontrado!' }}
                </span>

                <span *ngIf="processandoOperacao && !inputPesquisa">
                    <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                </span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        Pacientes encontrados: {{ listagemCadastroPaciente.pacientes ? listagemCadastroPaciente.pacientes.length : 0 }}
    </ng-template>
</p-table>

<!-- Dialog informações do Paciente -->
<p-dialog [visible]="abrirDialogInformacoesPaciente" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Informações do(a) Paciente
    </p-header>

    <div class="container">
        <div><b>Nome: </b>{{ pacienteSelecionado.nome }}</div>
        <div><b>Sexo: </b>{{ pacienteSelecionado.sexo }}</div>
        <div><b>Etnia: </b>{{ pacienteSelecionado.etnia }}</div>
        <div><b>Data de Nascimento: </b>{{ pacienteSelecionado.dataNascimento }}</div>
        <div><b>Telefone: </b>{{ pacienteSelecionado.telefone }}</div>
        <div *ngIf="pacienteSelecionado.telefoneRecado"><b>Telefone para Recado: </b>{{ pacienteSelecionado.telefoneRecado }}</div>
        <hr>

        <div><b>Logradouro: </b>{{ pacienteSelecionado.endereco.logradouro }}</div>
        <div><b>Número: </b>{{ pacienteSelecionado.endereco.numero }}</div>
        <div *ngIf="pacienteSelecionado.endereco.complemento"><b>Complemento: </b>{{ pacienteSelecionado.endereco.complemento }}</div>
        <div><b>Bairro: </b>{{ pacienteSelecionado.endereco.bairro }}</div>
        <div><b>Cidade: </b>{{ pacienteSelecionado.endereco.cidade }}</div>
        <div><b>CEP: </b>{{ pacienteSelecionado.endereco.cep }}</div>
        <div><b>UF: </b>{{ pacienteSelecionado.endereco.uf }}</div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="fecharDialogInformacoesPaciente()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog exclusão de Paciente -->
<p-dialog [visible]="abrirDialogExclusaoPaciente" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '50vh'}">

    <p-header>
        Exclusão de Paciente
    </p-header>

    <div>
        Tem certeza que deseja excluir <b>todas</b> as informações de <b>{{ pacienteSelecionado.nome }}</b>?
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="fecharDialogExclusaoPaciente()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
        <button class="btn btn-success" [disabled]="processandoOperacao" 
            (click)="excluirPaciente()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<app-toasty #toastyComponent></app-toasty>