<p-fieldset [toggleable]="true" [collapsed]="true">
    <p-header>
        Histórico Patologia Familiares

        <span *ngIf="historicoEstaDesatualizado">
            <i class="fas fa-exclamation-circle text-warning"></i>
        </span>
    </p-header>

    <app-cadastro-patologia-familiares [paciente]="paciente" [exibirBotaoCadastrarHistorico]="exibirBotaoCadastrarHistorico"
        [patologias]="patologias" (cadastroHistorico)="eventoCadastroPatologiaFamiliares($event)">
    </app-cadastro-patologia-familiares>

    <div class="borda-table mt-2">
        <p-table #dataView [value]="previaHistoricosPatologiaFamiliares" 
            [columns]="colunasTabelaPreviaHistoricosPatologiaFamiliaresPorData" [responsive]="true" 
            [rows]="5" [paginator]="true" class="text-center">

            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-10 col-lg-6">
                        <input type="text" pInputText placeholder="Pesquisa" class="pesquisa" [(ngModel)]="inputPesquisaPreviaHistoricos"
                            (input)="dataView.filterGlobal($event.target.value, 'contains')">
                        <i class="fas fa-search" style="font-size: 1.18em;"></i>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-colunas>
                <tr>
                    <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.style" class="text-center">
                        {{ coluna.header }}
                        <p-sortIcon *ngIf="coluna.header !== 'Ações'" [field]="coluna.field" 
                            ariaLabel="active to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-previaHistoricoPatologiaFamiliares>
                <tr>
                    <td *ngFor="let coluna of colunasTabelaPreviaHistoricosPatologiaFamiliaresPorData" class="text-center">
                        <span class="ui-column-title text-left"></span>
                        {{ previaHistoricoPatologiaFamiliares[coluna.field] }}
        
                        <span *ngIf="coluna.header === 'Ações'">
                            <button class="btn btn-primary" pTooltip="Informações" tooltipPosition="bottom" [disabled]="processandoOperacao"
                                (click)="armazenarHistoricoSelecionadoParaDialogInformacoes(previaHistoricoPatologiaFamiliares)"
                                [ngClass]="previaHistoricoPatologiaFamiliares.processandoOperacao ? '' : 'px-3'">

                                <i class="fas " [ngClass]="previaHistoricoPatologiaFamiliares.processandoOperacao
                                    ? 'fa-spin fa-circle-notch' : 'fa-info'">
                                </i>
                            </button>
                            <button class="btn btn-danger ml-2" pTooltip="Excluir" tooltipPosition="bottom"
                                (click)="armazenarHistoricoSelecionadoParaDialogExclusao(previaHistoricoPatologiaFamiliares)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" class="text-center" let-historicosPatologiaFamiliares>
                <tr>
                    <td [attr.colspan]="historicosPatologiaFamiliares.length" class="text-center">
                        <span *ngIf="!processandoOperacao">
                            {{ inputPesquisaPreviaHistoricos ? 'Nenhum histórico de patologia dos familiares corresponde à pesquisa!' 
                                : 'Nenhum histórico de patologia dos familiares encontrado!' }}
                        </span>

                        <span *ngIf="processandoOperacao && !inputPesquisaPreviaHistoricos">
                            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="col-12">
                    Histórico de Patologias dos Familiares encontrados: 
                        {{ previaHistoricosPatologiaFamiliares ? previaHistoricosPatologiaFamiliares.length : 0 }}
                </div>
                
                <div *ngIf="previaHistoricosPatologiaFamiliares && previaHistoricosPatologiaFamiliares.length > 0" class="col-12">
                    <span *ngIf="!historicoEstaDesatualizado">
                        Data prevista para próxima atualização: {{ dataProximaAtualizacao }}
                    </span>
                    
                    <span *ngIf="historicoEstaDesatualizado">
                        <span class="text-danger">{{ dataProximaAtualizacao }}</span>
                    </span>
                </div>
            </ng-template>
        </p-table>
    </div>
</p-fieldset>

<!-- Dialog Histórico Patologia Familiares selecionado -->
<p-dialog [visible]="abrirDialogInformacoes" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '96%'}">

    <p-header>
        Informações do Histórico de Patologia dos Familiares
    </p-header>

    <div class="borda-table">
        <p-table #dataView [value]="patologiasFamiliares" [columns]="colunasTabelaHistoricosPatologiaFamiliares" 
            [responsive]="true" class="text-center">

            <ng-template pTemplate="caption">
                <div style="font-size: 1.3em;">Patologia dos Familiares</div>
            </ng-template>

            <ng-template pTemplate="header" let-colunas>
                <tr>
                    <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.style" class="text-center">
                        {{ coluna.header }}
                        <p-sortIcon *ngIf="coluna.header !== 'Ações' && coluna.header !== 'Telefone'" [field]="coluna.field" 
                            ariaLabel="active to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-patologiaFamiliares>
                <tr>
                    <td *ngFor="let coluna of colunasTabelaHistoricosPatologiaFamiliares" class="text-center">
                        <span class="ui-column-title text-left"></span>
                        {{ patologiaFamiliares[coluna.field] }}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div><b>Cadastrado em: </b>{{ historicoPatologiaFamiliaresPorData.dataHoraCadastroPatologiasFamiliares }}</div>
            </ng-template>
        </p-table>
    </div>

    <div class="mt-3">
        <b>Observação: </b>{{ historicoPatologiaFamiliaresPorData.observacao 
            ? historicoPatologiaFamiliaresPorData.observacao : 'Não há observações registradas!' }}
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>


<!-- Dialog exclusão de Histórico de Patologia dos Familiares -->
<p-dialog [visible]="abrirDialogExclusao" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '78vh'}">

    <p-header>
        Excluir Histórico de Patologia dos Familiares
    </p-header>

    <div>
        Tem certeza que deseja excluir <b>todas</b> as informações do histórico cadastrado em
        <b>{{ previaHistoricoPorDataSelecionado.dataHoraCadastroPatologiasFamiliaresPorData }}</b>?
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoExclusao" 
            (click)="excluirHistoricoPatologiaFamiliaresPorData()">
            <i class="fas " [ngClass]="processandoExclusao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<app-toasty #toastyComponent></app-toasty>