<div class="bg-carregando-dados" *ngIf="carregandoInformacoesDosHistoricosDoPaciente || carregandoInformacoesParaCadastroConsulta">
    <div class="info-carregando-dados">
      <p-progressSpinner [style]="{width: '120px', height: '120px'}"></p-progressSpinner>
      <p class="h5">Carregando informações para a consulta...</p>
    </div>
</div>

<div *ngIf="!carregandoInformacoesDosHistoricosDoPaciente && !carregandoInformacoesParaCadastroConsulta" class="container-fluid">
    <div class="col-12 col-sm-8 mt-4">
        <p-fieldset [toggleable]="true">
            <p-header>
                Ficha de identificação
            </p-header>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div><b>Nome: </b>{{ paciente.nome }}</div>

                    <div>
                        <span><b>Sexo: </b>{{ paciente.sexo }}</span>
                        <span class="px-3"><b>Etnia: </b>{{ paciente.etnia }}</span>      
                    </div>
                    
                    <div><b>Data de Nascimento: </b>{{ paciente.dataNascimento }}</div>
                    <div><b>Telefone: </b>{{ paciente.telefone }}</div>
                    <div *ngIf="paciente.telefoneRecado">
                        <b>Telefone para Recado: </b>{{ paciente.telefoneRecado }}
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div><b>Logradouro: </b>{{ paciente.endereco.logradouro }}</div>
                    <div><b>Número: </b>{{ paciente.endereco.numero }}</div>
                    <div *ngIf="paciente.endereco.complemento">
                        <b>Complemento: </b>{{ paciente.endereco.complemento }}
                    </div>
                    <div><b>Bairro: </b>{{ paciente.endereco.bairro }}</div>
                    <div><b>Cidade: </b>{{ paciente.endereco.cidade }}</div>

                    <div>
                        <span><b>CEP: </b>{{ paciente.endereco.cep }}</span>
                        <span class="pl-3"><b>UF: </b>{{ paciente.endereco.uf }}</span>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <b>Motivo da consulta: </b>{{ informacoesCadastroConsulta.motivoConsulta }}
            </div>
        </p-fieldset>
    </div>

    <div *ngIf="historicosPaciente" class="mt-3">
        <p-fieldset [toggleable]="true">
            <p-header>
                Históricos

                <span *ngIf="existeHistoricoDesatualizado">
                    <i class="fas fa-exclamation-circle text-warning"></i>
                </span>

                <span *ngIf="!existeHistoricoDesatualizado">
                    <i class="fas fa-check-circle text-success"></i>
                </span>
            </p-header>

            <div class="row">
                <div class="col-12 col-md-6">
                    <app-fieldset-historico-social [informacoesPreviasHistoricosSociais]="historicosPaciente.informacoesPreviasHistoricosSociais" 
                        [paciente]="paciente" [exibirBotaoCadastrarHistorico]="true" [respostaSimNao]="respostaSimNao"
                        [informacoesParaCadastro]="informacoesCadastroConsulta.historicoSocial">
                    </app-fieldset-historico-social>
                </div>
        
                <div class="col-12 col-md-6">
                    <app-fieldset-historico-patologia-familiares [paciente]="paciente"
                        [informacoesPreviasHistoricosFamiliaresPorData]="historicosPaciente.informacoesPreviasHistoricosPatologiaFamiliaresPorData">
                    </app-fieldset-historico-patologia-familiares>
                </div>
            </div>
        
            <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <app-fieldset-historico-atividade-fisica [paciente]="paciente"
                        [informacoesHistoricosAtividadeFisica]="historicosPaciente.informacoesHistoricosAtividadeFisica">
                    </app-fieldset-historico-atividade-fisica>
                </div>
                <div class="col-12 col-md-6">
                    <app-fieldset-historico-alimentar [paciente]="paciente"
                        [informacoesPreviasHistoricosAlimentares]="historicosPaciente.informacoesPreviasHistoricosAlimentares">
                    </app-fieldset-historico-alimentar>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12 col-md-6 mt-3">
                    <app-historico-questionario-frequencia-alimentar [paciente]="paciente"
                        [informacoesPreviasQuestionarios]="historicosPaciente.informacoesPreviasQuestionariosFrequenciaAlimentar">
                    </app-historico-questionario-frequencia-alimentar>
                </div>
            </div>
        </p-fieldset>
    </div>

    <div class="mt-4">
        <app-registro-dieta [cadastrarRegistroDieta]="true" [tipoRegistro]="'Registro de dieta habitual'"
            [tiposDeRefeicoesParaCadastro]="informacoesCadastroConsulta.tiposDeRefeicoesParaCadastroRegistroDieta"
            (formularioRegistroDieta)="salvarFormularioRegistroDietaHabitual($event)">
        </app-registro-dieta>

        <div class="mt-3">
            <app-avaliacao-consumo-habitual [cadastrarAvaliacaoConsumoHabitual]="true"
                (formularioAvaliacaoConsumoHabitual)="salvarFormularioAvaliacaoConsumoHabitual($event)">
            </app-avaliacao-consumo-habitual>
        </div>

        <div class="mt-3">
            <app-avaliacao-composicao-corporal [cadastrarAvaliacaoComposicaoCorporal]="true" 
                [sexoPaciente]="informacoesCadastroConsulta.paciente.sexo"
                (formularioAvaliacaoComposicaoCorporal)="salvarFormularioAvaliacaoComposicaoCorporal($event)">
            </app-avaliacao-composicao-corporal>
        </div>

        <div class="mt-3">
            <app-avaliacao-massa-muscular-corporea [cadastrarAvaliacaoMassaMuscularCorporea]="true"
                (formularioAvaliacaoMassaMuscularCorporea)="salvarFormularioAvaliacaoMassaMuscularCorporea($event)">
            </app-avaliacao-massa-muscular-corporea>
        </div>

        <div class="mt-3">
            <app-conduta-nutricional [cadastrarCondutaNutricional]="true"
                (formularioCondutaNutricional)="salvarFormularioCondutaNutricional($event)">
            </app-conduta-nutricional>
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-12 col-sm-6">
                <button class="btn btn-danger" style="width: 100%;" (click)="exibirDialogCancelarConsulta = true"
                    [disabled]="processandoOperacao">
                    <i class="fas fa-times-circle"></i>
                    Cancelar consulta
                </button>
            </div>
            <div class="col-12 col-sm-6">
                <button class="btn btn-success" style="width: 100%;" (click)="exibirDialogFinalizarConsulta = true" 
                    [disabled]="botaoFinalizarConsultaNaoEstaValido()">
                    <i class="fas fa-clipboard-list"></i>
                    Finalizar consulta
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Dialog cancelar consulta -->
<p-dialog [visible]="exibirDialogCancelarConsulta" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '65vh'}">

    <p-header>
        Cancelar consulta
    </p-header>

    <div class="container-fluid">
        Tem certeza que deseja cancelar a consulta de <b>{{ informacoesCadastroConsulta.paciente.nome }}</b>?
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="exibirDialogCancelarConsulta = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoOperacao"
            (click)="cancelarConsulta()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog finalizar consulta -->
<p-dialog [visible]="exibirDialogFinalizarConsulta" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Finalizar consulta
    </p-header>

    <div class="container-fluid">
        Tem certeza que deseja finalizar a consulta de <b>{{ informacoesCadastroConsulta.paciente.nome }}</b>?
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="exibirDialogFinalizarConsulta = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoOperacao"
            (click)="finalizarConsulta()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<app-toasty #toastyComponent></app-toasty>
