<div class="container-fluid">
    <div class="borda-table">
        <p-table #dataView [value]="atendimentos" [columns]="colunasTabela" [responsive]="true" 
            [rows]="8" [paginator]="true" class="text-center">

            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <input type="text" pInputText placeholder="Pesquisa" class="pesquisa" [(ngModel)]="inputPesquisa"
                            (input)="dataView.filterGlobal($event.target.value, 'contains')">
                        <i class="fas fa-search" style="font-size: 1.18em;"></i>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <span class="p-float-label">
                                <p-inputMask mask="99/99/9999" [style]="{width: '120px'}" [(ngModel)]="dataInicialPesquisaPeriodoAtendimento"> 
                                </p-inputMask>
                                <label for="inputtext">Data inicial</label>
                            </span>
            
                            <span class="p-float-label ml-3">
                                <p-inputMask mask="99/99/9999" [style]="{width: '120px'}" [(ngModel)]="dataFinalPesquisaPeriodoAtendimento"> 
                                </p-inputMask>
                                <label for="inputtext">Data final</label>
                            </span>
    
                            <button class="btn btn-success ml-4 px-5" [disabled]="desabilitarBotaoPesquisa()"
                                (click)="listarAtendimentosPorPeriodo()">
                                <i class="fas fa-search"></i>
                                Pesquisar
                            </button>
                        </div>

                        <div class="text-danger mt-2" style="font-size: 13px;">{{ mensagemPeriodoDosAtendimentosConsultados }}</div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-3">
                        <button class="btn btn-success px-5" pTooltip="Agendar atendimento" tooltipPosition="bottom"
                            (click)="exibirDialogAgendarReagendarAtendimento = true" [disabled]="buscandoPacientesParaAgendamentoDeAtendimento">
                            <i class="fas fa-plus"></i>
                            Agendar atendimento
                        </button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-colunas>
                <tr>
                    <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.style" class="text-center">
                        {{ coluna.header }}
                        <p-sortIcon *ngIf="coluna.header !== 'Ações'" [field]="coluna.field" 
                            ariaLabel="active to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-atendimento>
                <tr>
                    <td *ngFor="let coluna of colunasTabela" class="text-center">
                        <span class="ui-column-title text-left"></span>
                        {{ atendimento[coluna.field] }}
        
                        <span *ngIf="coluna.header === 'Ações'">
                            <button class="btn btn-primary px-3" pTooltip="Informações" tooltipPosition="bottom"
                                (click)="armazenarAtendimentoSelecionadoParaDialogInformacoes(atendimento)">
                                <i class="fas fa-info"></i>
                            </button>

                            <button *ngIf="exibirBotaoVisualizarFichaDoAtendimento(atendimento)" class="btn btn-secondary ml-2" 
                                pTooltip="Visualizar ficha" tooltipPosition="bottom" [disabled]="processandoOperacao"
                                (click)="armazenarAtendimentoParaExibirFicha(atendimento)">
                                
                                <i [ngClass]="atendimento.processandoOperacao ? 'fas fa-spin fa-circle-notch' : 'far fa-address-card'">
                                </i>
                            </button>

                            <button *ngIf="exibirBotaoReagendamentoDoAtendimento(atendimento)" class="btn btn-warning ml-2" 
                                [pTooltip]="definirMensagemTooltip('Reagendar', atendimento)" tooltipPosition="bottom"
                                (click)="armazenarAtendimentoParaReagendamento(atendimento)">
                                <i class="fas fa-pen text-white"></i>
                            </button>

                            <button *ngIf="exibirBotaoConfirmacaoDoAtendimento(atendimento)" class="btn btn-success ml-2" 
                                [pTooltip]="definirMensagemTooltip('Confirmar', atendimento)" tooltipPosition="bottom"
                                (click)="armazenarAtendimentoParaConfirmacao(atendimento)">
                                <i class="fas fa-check"></i>
                            </button>

                            <button *ngIf="exibirBotaoParaIniciarAtendimento(atendimento)" class="btn btn-info ml-2 px-3" 
                                [pTooltip]="definirMensagemTooltip('Iniciar', atendimento)" tooltipPosition="bottom"
                                (click)="armazenarAtendimentoParaIniciarConsultaOuRetorno(atendimento)">
                                <i class="fas fa-notes-medical"></i>
                            </button>

                            <button *ngIf="exibirBotaoParaCancelarAtendimento(atendimento)" class="btn btn-danger ml-2" 
                                [pTooltip]="definirMensagemTooltip('Cancelar', atendimento)" tooltipPosition="bottom" 
                                (click)="armazenarAtendimentoParaCancelamento(atendimento)">
                                <i class="fas fa-times"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" class="text-center" let-atendimentos>
                <tr>
                    <td [attr.colspan]="atendimentos.length" class="text-center">
                        <span *ngIf="!processandoOperacao">
                            {{ inputPesquisa ? 'Nenhum atendimento corresponde à pesquisa!' : 'Nenhum atendimento encontrado!' }}
                        </span>

                        <span *ngIf="processandoOperacao && !inputPesquisa">
                            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                Atendimentos encontrados: {{ atendimentos ? atendimentos.length : 0 }}
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Dialog agendamento/reagendamento de atendimento -->
<p-dialog [visible]="exibirDialogAgendarReagendarAtendimento" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '140vh'}">

    <p-header>
        <span *ngIf="!reagendarAtendimento">
            <span *ngIf="proximoTipoAtendimentoParaAgendarDoPacienteSelecionado === null">Agendar atendimento</span>
            <span *ngIf="proximoTipoAtendimentoParaAgendarDoPacienteSelecionado !== null">
                Agendar {{ proximoTipoAtendimentoParaAgendarDoPacienteSelecionado === 0 ? 'consulta' : 'retorno da consulta' }}
            </span>
        </span>

        <span *ngIf="reagendarAtendimento">
            <span *ngIf="atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta'">
                Reagendar consulta
            </span>

            <span *ngIf="atendimentoSelecionado.descricaoTipoAtendimento == 'Retorno'">
                Reagendar retorno da consulta
            </span>
        </span>
    </p-header>

    <div class="container-fluid mt-3">
        <p-dropdown *ngIf="!reagendarAtendimento" [options]="pacientes" [(ngModel)]="pacienteSelecionadoParaAgendamentoAtendimento.id"
            (onChange)="verificarProximoTipoAtendimentoDoPacienteSelecionado($event)"
            placeholder="Selecione um paciente" filter="true" [style]="{width: '100%'}" [disabled]="carregandoHorariosParaAgendamento"
            [emptyFilterMessage]="pacientes.length === 0 ? 'Nenhum paciente encontrado!' : 'Nenhum paciente corresponde à pesquisa!'">
        </p-dropdown>

        <div *ngIf="reagendarAtendimento" class="text-danger" style="font-size: 14px;">
            {{ atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta' ? 'Consulta' : 'Retorno da consulta' }} marcada
                inicialmente para o dia <b>{{ atendimentoSelecionado.dataAtendimento }}</b> às 
                <b>{{ atendimentoSelecionado.horarioAtendimento }}h</b>.
        </div>

        <div class="row mt-3">
            <div class="col-12 col-lg-6">
                <p-calendar dataType="string" [locale]="formatoCalendario"
                    (onSelect)="listarHorariosDisponiveisParaAgendamentoReagendamentoConformeData($event)" [inline]="true" 
                    [disabled]="(carregandoHorariosParaAgendamento || !pacienteSelecionadoParaAgendamentoAtendimento.id)
                        && !reagendarAtendimento" 
                    [minDate]="dataMinimaParaAgendamento">
                </p-calendar>
            </div>

            <div class="col-12 col-lg-6">
                <p-dropdown [options]="horariosDisponiveisParaAgendamento" [(ngModel)]="horarioSelecionadoParaAgendamento" 
                    placeholder="Horários disponíveis" filter="true" emptyFilterMessage="Horário não encontrado!" 
                    (onChange)="salvarHorarioNoFormularioDeAgendamentoReagendamentoDeAtendimento($event)"
                    [style]="{width: '90%'}" [disabled]="carregandoHorariosParaAgendamento || !dataSelecionadaParaAgendamentoDeAtendimento
                    || horariosDisponiveisParaAgendamento.length === 0">
                </p-dropdown>

                <span class="mt-1 ml-2">
                    <i [ngClass]="carregandoHorariosParaAgendamento ? 'fas fa-spin fa-circle-notch' : null"></i>
                </span>

                <div *ngIf="horariosDisponiveisParaAgendamento.length === 0 && !carregandoHorariosParaAgendamento
                    && dataSelecionadaParaAgendamentoDeAtendimento" class="text-danger mt-1" style="font-size: 13px;">
                    *Não há horários disponíveis para a data selecionada!
                </div>

                <div *ngIf="proximoTipoAtendimentoParaAgendarDoPacienteSelecionado === 0 && horarioSelecionadoParaAgendamento" class="mt-5">
                    <span class="p-float-label">
                        <textarea pInputTextarea [(ngModel)]="formularioAgendamentoConsulta.motivoConsulta" [rows]="4" 
                            [style]="{width: '100%'}">
                        </textarea>
                        <label for="inputtext">Motivo da consulta</label>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="desabilitarBotaoConfirmarAgendamentoReagendamentoAtendimento()"
            (click)="agendarReagendarAtendimento()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog informações do Paciente -->
<p-dialog [visible]="exibirDialogInformacoesAtendimento" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '75vh'}">

    <p-header>
        Informações {{ atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta' ? 'da consulta' : 'do retorno da consulta' }}
    </p-header>

    <div>
        <div><b>Nome:</b> {{ atendimentoSelecionado.nomePaciente }}</div>
        <div><b>Sexo:</b> {{ atendimentoSelecionado.sexoPaciente }}</div>
        <div><b>Data:</b> {{ atendimentoSelecionado.dataAtendimento }}</div>
        <div><b>Horário:</b> {{ atendimentoSelecionado.horarioAtendimento }}h</div>
        <div><b>Tipo de atendimento:</b> {{ atendimentoSelecionado.descricaoTipoAtendimento }}</div>
        <div><b>Situação:</b> {{ atendimentoSelecionado.situacaoAtendimento }}</div>

        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta'">
            <div><b>Forma de pagamento:</b> {{ atendimentoSelecionado.formaPagamentoConsulta }}</div>
            <div *ngIf="atendimentoSelecionado.numeroParcelasConsulta"><b>Forma de pagamento:</b> 
                {{ atendimentoSelecionado.numeroParcelasConsulta }}
            </div>
            <div><b>Valor R$:</b> {{ atendimentoSelecionado.valorConsulta }}</div>
            <div><b>Motivo da consulta:</b> {{ atendimentoSelecionado.motivoConsulta }}</div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog confirmação de atendimento -->
<p-dialog [visible]="exibirDialogConfirmacaoAtendimento" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '80vh'}">

    <p-header>
        <p-header>
            Confirmar {{ atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta' ? 'consulta' : 'retorno da consulta' }}
        </p-header>
    </p-header>

    <div class="container-fluid">
        <div>
            <b>Paciente: </b>{{ atendimentoSelecionado.nomePaciente }}
        </div>

        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta'" class="mt-4" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p-dropdown [options]="formasPagamentoConfirmacaoConsulta" [(ngModel)]="formularioConfirmacaoConsulta.formaPagamento" 
                        placeholder="Forma de pagamento" [style]="{width: '210px'}">
                    </p-dropdown>
                </div>
    
                <div *ngIf="formularioConfirmacaoConsulta.formaPagamento === '2'" class="col-12 col-md-6">
                    <p-dropdown [options]="parcelasParaPagarConsulta" [(ngModel)]="formularioConfirmacaoConsulta.numeroParcelas" 
                        placeholder="Parcelas" [style]="{width: '120px'}" scrollHeight="160px">
                    </p-dropdown>
                </div>
            </div>

            <div class="mt-4">
                <b>Valor da consulta R$:</b> {{ valorConsulta }}
            </div>
        </div>

        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento !== 'Consulta'" class="mt-2">
            Deseja confirmar o <b>retorno da consulta</b> para o dia <b>{{ atendimentoSelecionado.dataAtendimento }}</b>
                às <b>{{ atendimentoSelecionado.horarioAtendimento }}</b>?
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoOperacao" [disabled]="desabilitarBotaoConfirmacaoAtendimento()"
            (click)="confirmarAtendimento()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog para iniciar atendimento -->
<p-dialog [visible]="exibirDialogParaIniciarAtendimento" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '75vh'}">

    <p-header>
        Iniciar {{ atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta' ? 'consulta' : 'retorno da consulta' }}
    </p-header>

    <div class="container-fluid">
        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta'">
            Deseja iniciar a <b>consulta</b> de <b>{{ atendimentoSelecionado.nomePaciente }}</b>?
        </div>

        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento !== 'Consulta'">
            Deseja iniciar o <b>retorno da consulta</b> de <b>{{ atendimentoSelecionado.nomePaciente }}</b>?
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoOperacao"
            (click)="iniciarAtendimento()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>

</p-dialog>

<!-- Dialog ficha da consulta -->
<p-dialog [visible]="exibirDialogFichaDaConsulta" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '96%'}">

    <p-header>
        Ficha da consulta
    </p-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <b>Paciente:</b> {{ atendimentoSelecionado.nomePaciente }}
            </div>
            <div class="col-12 col-sd-6 col-md-4">
                <b>Sexo:</b> {{ atendimentoSelecionado.sexoPaciente }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-2">
                <b>Data:</b> {{ consultaSelecionada.data }}
            </div>

            <div class="col-12 col-lg-2">
                <b>Horário:</b> {{ consultaSelecionada.horario }}h
            </div>

            <div class="col-12 col-lg-3">
                <b>Situação da consulta:</b> {{ consultaSelecionada.situacaoConsulta }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-3">
                <b>Forma de pagamento:</b> {{ consultaSelecionada.formaPagamento }}
            </div>

            <div *ngIf="consultaSelecionada.numeroParcelas" class="col-12 col-lg-2">
                <b>Parcelas:</b> {{ consultaSelecionada.numeroParcelas }}
            </div>

            <div class="col-12 col-lg-2">
                <b>Valor R$:</b> {{ consultaSelecionada.valorConsulta }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <b>Motivo da consulta:</b> {{ consultaSelecionada.motivoConsulta }}
            </div>
        </div>
        <hr>

        <app-registro-dieta [tipoRegistro]="'Registro de dieta habitual'" 
            [refeicoesRegistroDieta]="consultaSelecionada.refeicoesRegistroDietaHabitual" [visualizarRegistroDieta]="true">
        </app-registro-dieta>
        <hr>
        
        <div class="mt-4">
            <app-avaliacao-consumo-habitual [visualizarAvaliacaoConsumoHabitual]="true"
                [avaliacaoConsumoHabitual]="consultaSelecionada.avaliacaoConsumoHabitual">
            </app-avaliacao-consumo-habitual>
            <hr>
        </div>

        <div class="mt-4">
            <app-avaliacao-composicao-corporal [visualizarAvaliacaoComposicaoCorporal]="true" 
                [sexoPaciente]="atendimentoSelecionado.sexoPaciente"
                [avaliacaoComposicaoCorporal]="consultaSelecionada.avaliacaoComposicaoCorporal">
            </app-avaliacao-composicao-corporal>
            <hr>
        </div>
        
        <div class="mt-4">
            <app-avaliacao-massa-muscular-corporea [visualizarAvaliacaoMassaMuscularCorporea]="true"
                [avaliacaoMassaMuscularCorporea]="consultaSelecionada.avaliacaoMassaMuscularCorporea">
            </app-avaliacao-massa-muscular-corporea>
            <hr>
        </div>

        <div class="mt-4">
            <app-conduta-nutricional [visualizarCondutaNutricional]="true"
                [condutaNutricional]="consultaSelecionada.condutaNutricional">
            </app-conduta-nutricional>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog ficha do retorno da consulta -->
<p-dialog [visible]="exibirDialogFichaDoRetornoConsulta" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '96%'}">

    <p-header>
        Ficha do retorno da consulta
    </p-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <b>Paciente:</b> {{ atendimentoSelecionado.nomePaciente }}
            </div>
            <div class="col-12 col-sd-6 col-md-4">
                <b>Sexo:</b> {{ atendimentoSelecionado.sexoPaciente }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-2">
                <b>Data:</b> {{ retornoConsultaSelecionado.data }}
            </div>

            <div class="col-12 col-lg-2">
                <b>Horário:</b> {{ retornoConsultaSelecionado.horario }}h
            </div>

            <div class="col-12 col-lg-4">
                <b>Situação do retorno da consulta:</b> {{ retornoConsultaSelecionado.situacaoRetorno }}
            </div>
        </div>
        <hr>

        <app-registro-dieta [tipoRegistro]="'Registro de dieta habitual'" 
            [refeicoesRegistroDieta]="retornoConsultaSelecionado.refeicoesRegistroDietaHabitual" [visualizarRegistroDieta]="true">
        </app-registro-dieta>
        <hr>

        <div class="mt-4">
            <app-registro-dieta [tipoRegistro]="'Registro de dieta 24 horas'" 
                [refeicoesRegistroDieta]="retornoConsultaSelecionado.refeicoesRegistroDieta24Horas" [visualizarRegistroDieta]="true">
            </app-registro-dieta>
            <hr>
        </div>

        <div class="mt-4">
            <app-avaliacao-consumo-habitual [visualizarAvaliacaoConsumoHabitual]="true"
                [avaliacaoConsumoHabitual]="retornoConsultaSelecionado.avaliacaoConsumoHabitual">
            </app-avaliacao-consumo-habitual>
            <hr>
        </div>

        <div class="mt-4">
            <app-avaliacao-composicao-corporal [visualizarAvaliacaoComposicaoCorporal]="true" 
                [sexoPaciente]="atendimentoSelecionado.sexoPaciente"
                [avaliacaoComposicaoCorporal]="retornoConsultaSelecionado.avaliacaoComposicaoCorporal">
            </app-avaliacao-composicao-corporal>
            <hr>
        </div>

        <div class="mt-4">
            <app-avaliacao-massa-muscular-corporea [visualizarAvaliacaoMassaMuscularCorporea]="true"
                [avaliacaoMassaMuscularCorporea]="retornoConsultaSelecionado.avaliacaoMassaMuscularCorporea">
            </app-avaliacao-massa-muscular-corporea>
            <hr>
        </div>

        <div class="mt-4">
            <app-conduta-nutricional [visualizarCondutaNutricional]="true"
                [condutaNutricional]="retornoConsultaSelecionado.condutaNutricional">
            </app-conduta-nutricional>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog cancelamento de atendimento -->
<p-dialog [visible]="exibirDialogCancelamentoAtendimento" [modal]="true" [resizable]="false" 
    [blockScroll]="true" [draggable]="false" [closable]="false" [style]="{width: '75vh'}">

    <p-header>
        Cancelar {{ atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta' ? 'consulta' : 'retorno da consulta' }}
    </p-header>

    <div class="container-fluid">
        <div class="mb-2">
            <b>Paciente: </b>{{ atendimentoSelecionado.nomePaciente }}
        </div>

        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento === 'Consulta'">
            Tem certeza que deseja cancelar a <b>consulta</b> marcada para o dia
                <b>{{ atendimentoSelecionado.dataAtendimento }}</b> às <b>{{ atendimentoSelecionado.horarioAtendimento }}</b>?
        </div>
        
        <div *ngIf="atendimentoSelecionado.descricaoTipoAtendimento !== 'Consulta'">
            Tem certeza que deseja cancelar o <b>retorno da consulta</b> marcado para o dia
                <b>{{ atendimentoSelecionado.dataAtendimento }}</b> às <b>{{ atendimentoSelecionado.horarioAtendimento }}</b>?
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="resetarCampos()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="processandoOperacao"
            (click)="cancelarAtendimento()">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<app-toasty #toastyComponent></app-toasty>
