<div *ngIf="visualizarAvaliacaoConsumoHabitual">
    <h5 class="text-center">Avaliação do consumo habitual</h5>

    <div class="row mt-3">
        <div class="col-12 col-lg-2">
            <b>Energia (Kcal):</b> {{ avaliacaoConsumoHabitual.energiaKcal }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Prot. Total (g):</b> {{ avaliacaoConsumoHabitual.proteinaTotalGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Prot. AVB (g):</b> {{ avaliacaoConsumoHabitual.proteinaTotalGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>CHO (g):</b> {{ avaliacaoConsumoHabitual.carboidratoGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Lip. Total (g):</b> {{ avaliacaoConsumoHabitual.lipideoTotalGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Lip. Sat. (g):</b> {{ avaliacaoConsumoHabitual.lipideoSaturadoGramas }}
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 col-lg-2">
            <b>Lip. Poli. (g):</b> {{ avaliacaoConsumoHabitual.lipideoPoliinsaturadoGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Lip. Mono. (g):</b> {{ avaliacaoConsumoHabitual.lipideoMonoinsaturadoGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Col. (mg):</b> {{ avaliacaoConsumoHabitual.colesterolMiligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Fibra (g):</b> {{ avaliacaoConsumoHabitual.fibraGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Cálcio (mg):</b> {{ avaliacaoConsumoHabitual.calcioGramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Fósforo (mg):</b> {{ avaliacaoConsumoHabitual.fosforoGramas }}
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 col-lg-2">
            <b>Ferro (mg):</b> {{ avaliacaoConsumoHabitual.ferroMiligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Zinco (mg):</b> {{ avaliacaoConsumoHabitual.zincoMiligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>magnésio (mg):</b> {{ avaliacaoConsumoHabitual.magnesioMiligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Potássio (mg):</b> {{ avaliacaoConsumoHabitual.potassioMiligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>B6 (mg):</b> {{ avaliacaoConsumoHabitual.vitaminaB6Miligramas }}
        </div>
        <div class="col-12 col-lg-2">
            <b>Vit. C (mg):</b> {{ avaliacaoConsumoHabitual.vitaminaCMiligramas }}
        </div>
    </div>

    <div class="mt-1">
        <b>Leucina (mg):</b> {{ avaliacaoConsumoHabitual.leucinaMiligramas }}
    </div>
</div>
